.navbar-container{    
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 0%;
    background-color: rgb(17, 108, 187);
    width: auto;
    border: 1px solid black;
    padding: 1% 2%;
    border-radius: 5px;        
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);


}

.navbar-search{
    margin-left: auto;    
}