.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    /* border: 1px solid red; */
  }

  .prop-content-style-1{
    width: var(--width);
    height: var(--height);
    display: var(--display);
    flex-direction: var(--flexDirection);
    position: var(--position);
    background-color: var(--backgroundColor);
    padding: var(--padding);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
  }
  
  .prop-content-style-1 h3{
    font-size: 1.3rem;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 0px 5px 20px;    
  }  